<!DOCTYPE html>
<html>
  <head>
    <title>titulo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% documento.forEach(function(cpf) { %> <!-- perceorre os numeros de cpf  -->
    <p>Welcome to <%= cpf %></p>
    <% }) %>
    
  </body>
</html>
